@layer theme, base, components, utilities;
@import "tailwindcss";


@layer components {
  .centered-flex { @apply flex justify-center items-center; }
}

@theme{
  --breakpoint-sm250: 250px;
  --breakpoint-sm500: 500px;
  --breakpoint-sm800: 800px;
  --font-fredokaOne: "Fredoka One", sans-serif;
  --color-primary-blue: #1f2937;
  --color-primary-gray: #d9d9d9;
  --color-primary-charcoal: #121212;
}

body{
  height: 100vh;
  background-color: #121212;
  color-scheme: light;
}