@layer theme, base, components, utilities;
@import "tailwindcss";


@layer components {
  .centered-flex { @apply flex justify-center items-center; }
}

@theme{
  --breakpoint-sm250: 250px;
  --breakpoint-sm500: 500px;
  --breakpoint-sm800: 800px;
  --font-fredokaOne: "Fredoka One", sans-serif;
  --color-primary-violet: #4F46E5;
  --color-primary-gray: #111827;
}

body{
  height: 100vh;
}